# Ignore all
/*

# Allow these files
!README.md
!requirements.txt
!.gitignore
!creatediagrams.py
!createbar.py

# Allow these folders
!results/

# Additionally disable these folders
results/common
__pycache__
